@import "~antd/dist/antd.css";

.ant-form-item-label {
  padding-right: 10px;
  font-weight: bold;
}

.ant-layout-content {
  overflow-x: hidden;
  overflow-y: auto;
}

.ant-table-thead th {
  padding: 6px 16px !important;
}

.app-container > div:first-of-type {
  height: 100vh;
  min-width: 360px;
}

.app-content {
  margin-bottom: 20px;
}

.btn-toggle {
  height: 100%;
  width: 65px;
  background: transparent;
  border: none !important;
  padding: 15px !important;
  cursor: pointer;
  font-size: 0.7em;
  outline: none;
}

.btn-100 {
  width: 100%;
}

.top {
  position: absolute;
  top: 0;
}

.right {
  position: absolute;
  right: 0;
}

.section__report-btn.ant-btn-sm {
  border: none;
  box-shadow: none;
  color: CornflowerBlue;
}

/* coloring status */
.new {
  background: #ffffff;
}

.resolved {
  background: #f9ffef;
}

.closed {
  background: #efefef;
}

.feedback {
  background: #fcf7de;
}

.confirmed {
  background: #fff0e0;
}

.assigned {
  background: #fff2f2;
}

.acknowledged {
  background: #eaedff;
}
