.header {
  position: relative;
  padding: 0 1.5em;
}

.header .input-search {
  width: 325px;
}

.header .trigger {
  color: lightgrey;
  cursor: pointer;
  height: 2em;
  padding: 1em 0;
  width: 2em;
}

@media screen and (max-width: 480px) {
  .header .input-search {
    width: calc(100% - 28px);
  }
}
